<!DOCTYPE html>
<html>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    
<title>Stocks</title>
</head>
<body>
<a href="/add" > <button type="button" class="btn btn-primary" style="margin: 14px 14px"> Add Stock </button> </a>
 <table id="stockTable" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Current Price(€)</th>
				<th>Last Updated At</th>
				<th>Edit</th>
			</tr>
		</thead>
		
 </table>
 
 
<!--  Editable Stock form -->
 
 <div class="modal fade" id="editStockModal" tabindex="-1" role="dialog" aria-labelledby="editStockModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editStockModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      
        <form action="#" method="post">
          <div class="form-group">
            <label for="stock-id" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="stock-id" readonly="readonly"/>
          </div>
          <div class="form-group">
            <label for="stock-name" class="col-form-label">Name:</label>
            <textarea class="form-control" id="stock-name" wrap="hard"></textarea>
          </div>
           <div class="form-group">
            <label for="stock-curr-price" class="col-form-label">Current Price:</label>
            <div><input type="number" step="any" id="stock-curr-price"/> </div>
          </div>
<!--            <input type="submit" value="Submit" />  -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" th:onclick="'javascript:modifyStock();'">Save</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/stockOperations-min.js}"> </script>



</body>
</html>

